.inventory {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .inventory h3 {
    margin-bottom: 20px;
  }
  
   .inventory .add-new {
    margin-bottom: 20px;
    padding: 5px 10px;
    width: 150px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
   
  .inventory .table-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
  }
   
   .inventory .inventory-table {
    width: 100%;
    max-width: 12000px; /* You can adjust this value based on your requirements */
     border-collapse: collapse;
  }
  .inventory .inventory-table th,
  .inventory .inventory-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .inventory .inventory-table th {
    background-color: #f2f2f2;
  }
  
  .inventory .action-buttons {
    display: flex;
    gap: 10px;
  }
  
  .inventory .edit,
  .inventory .delete {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .inventory .edit {
    background-color: #2196F3;
    color: white;
  }
  
  .inventory .delete {
    background-color: #f44336;
    color: white;
  }
  
  /* Modal styles */
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .modal-content label {
    display: block;
    margin-bottom: 5px;
  }
  
  .modal-content input,
  .modal-content select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  